server:
  port: 8080

spring:
  application:
    name: ai-gateway
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848 # 虚拟配置，实际环境需替换
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: business-agent
          uri: lb://business-agent
          predicates:
            - Path=/business/**
  data:
    redis:
      host: 127.0.0.1
      port: 6379

logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.netty: DEBUG
